.catalog-item {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  min-height: 400px;
  width: 25%;
}

.catalog-item:hover .catalog-item-background {
  opacity: 1;
}

.catalog-item-background {
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.2);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item-img {
  width: 100%;
}

.catalog-item-price {
  top: 200px;
  position: absolute;
  font-weight: 700;
  font-size: 45px;
}

.catalog-item-title {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
}

.catalog-item:hover .catalog-item-title {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.catalog-item-button {
  position: absolute;
  left: 50px;
  top: 330px;
  opacity: 0;
  width: 200px;
  height: 44px;
  border: none;
  background-color: #e84d37;
  border-radius: 30px;
  background-image: linear-gradient(0deg, #e74a35 0%, #f26843 100%);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.75);
  box-shadow: 0px 1px 2px 0px #ac1000;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;
  transition: opacity 0.1s ease;
}

.catalog-item:hover .catalog-item-button {
  opacity: 1;
}
